footer {
    background-color: $black_color;
    color: white;

    & *{
        margin-top: auto;
        margin-bottom: auto;
    }

    a{
        color: white;
    }

    .container {
        display: flex;
        justify-content: space-between;
    }
}


@media (max-width: 512px) {
    footer{
        .container {
            flex-direction: column;
            justify-content: center;
        }

        * {
            margin: 10px auto;
            text-align: center;
        }
    }
}


