.mobile_catalog_menu {
    width: 90%;
    height: calc(100% - 61px);
    display: block;
    position: fixed;
    z-index: 90000;
    background-color: #fff;
    left: 900px;
    transition: all .5s ease!important;
    padding: 25px 5% 0 5%;
    left: 110%;
    overflow: auto;
}

.mobMenuWrappe {
    width: 100%;
    nav{
        display: flex;
        flex-direction: column;
        text-align: right;
        a {
            margin: 5px 0;
        }
    }
}

.mcm_active {
    left:0;
}
