@import "vars";
@import "null";
@import "fonts";
@import "scroll";
@import "text-styles";
@import "form/all-form";
@import "elements/all-elements";

body{
    font-family: $main_fonts;
    font-size: 16px;
    color:$black_color;
}

footer,
section{
    width: 100%;
    padding-top: $section_space;
    padding-bottom: $section_space;
}

.container{
    width:100%;
    max-width: $conteiner_max_w;
    margin: 0 auto;
}

.last_search_line {
    a {
        display: inline-block;
        font-size: 14px;
        margin-right:  20px;
        border-bottom: 1px dotted $black_color;

        &:hover{
            border: none;
        }
    }
}

.name_td {
    display: flex;
}

.photo_lnk {
    margin-right: 5px;
    display: flex;


    .sprite_icon {
        width:20px;
        height: 15px;
        fill: $black_color;
        margin: auto;

        &:hover {
            fill: olivedrab;
        }
    }

}

.sprite_icon {
    fill: $black_color;
    stroke: $black_color;
    width: 10px;
    height: 10px;
    &:hover {
        fill: olivedrab;
    }
}

.sort_icon {
    margin-left: 5px;
    width: 12px;
    height: 12px;
    cursor:pointer;
    &.desc{
        transform: rotate(180deg);
    }
}


.breadcrumbs_section {
    padding-bottom: 0
}

.inner_page_section {
    h1{
        margin-top: 0
    }
}


.content_stock {
    display: flex;
    flex-direction: column;
}


@media (max-width: 1280px) {
    .container {
        width: 96%;
    }
}

.map_page {
    height: 250px;
    border: 1px solid $gray_border_color;
    overflow: hidden
}

@import "cabinet/cabinet-selector";
@import "stock-info";
@import "form-status";
@import "standart";
@import "header";
@import "main_page_section";
@import "footer";
@import "search-page";
@import "materials-page";
@import "cart/all-cart";
