@font-face {
  font-family: 'ap';
  src:  url('fonts/ap.eot?bc79cr');
  src:  url('fonts/ap.eot?bc79cr#iefix') format('embedded-opentype'),
    url('fonts/ap.ttf?bc79cr') format('truetype'),
    url('fonts/ap.woff?bc79cr') format('woff'),
    url('fonts/ap.svg?bc79cr#ap') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.pi::before {
  font-family: 'ap' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
    font-weight: bolder;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ap_arrow_curve:before {
  content: "\e900"!important;
}
.ap_arrows_left_right:before {
  content: "\e901"!important;
}
.ap_arrows_right:before {
  content: "\e902"!important;
}
.ap_burger:before {
  content: "\e903"!important;
}
.ap_cabinet:before {
  content: "\e904"!important;
}
.ap_car_repair:before {
  content: "\e905"!important;
}
.ap_cart:before {
  content: "\e906"!important;
}
.ap_cart_plus:before {
  content: "\e907"!important;
}
.ap_cash:before {
  content: "\e908"!important;
}
.ap_check:before {
  content: "\e909"!important;
}
.ap_checklist:before {
  content: "\e90a"!important;
}
.ap_close:before {
  content: "\e90b"!important;
}
.ap_details:before {
  content: "\e90c"!important;
}
.ap_download:before {
  content: "\e90d"!important;
}
.ap_exit:before {
  content: "\e90e"!important;
}
.ap_filter:before {
  content: "\e90f"!important;
}
.ap_folder:before {
  content: "\e910"!important;
}
.ap_heart:before {
  content: "\e911"!important;
}
.ap_home:before {
  content: "\e912"!important;
}
.ap_info:before {
  content: "\e913"!important;
}
.ap_lins:before {
  content: "\e914"!important;
}
.ap_list:before {
  content: "\e915"!important;
}
.ap_loading:before {
  content: "\e916"!important;
}
.ap_lock:before {
  content: "\e917"!important;
}
.ap_mail:before {
  content: "\e918"!important;
}
.ap_map_pin:before {
  content: "\e919"!important;
}
.ap_note:before {
  content: "\e91a"!important;
}
.ap_oil:before {
  content: "\e91b"!important;
}
.ap_pages:before {
  content: "\e91c"!important;
}
.ap_pay_card:before {
  content: "\e91d"!important;
}
.ap_phone:before {
  content: "\e91e"!important;
}
.ap_printer:before {
  content: "\e91f"!important;
}
.ap_question:before {
  content: "\e920"!important;
}
.ap_sale:before {
  content: "\e921"!important;
}
.ap_save:before {
  content: "\e922"!important;
}
.ap_scrap:before {
  content: "\e923"!important;
}
.ap_scrol:before {
  content: "\e924"!important;
}
.ap_security:before {
  content: "\e925"!important;
}
.ap_setting:before {
  content: "\e926"!important;
}
.ap_tire:before {
  content: "\e927"!important;
}
.ap_tool:before {
  content: "\e928"!important;
}
.ap_trash:before {
  content: "\e929"!important;
}
.ap_truck:before {
  content: "\e92a"!important;
}
