details {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    summary{
        list-style: none;
        border: 1px solid $gray_border_color;
        padding: 20px  50px 20px 30px;
        background-color: $main_color;
        border-radius: $border_rad;
        position: relative;

        cursor: pointer;

        &::before{
            content: "\e902";
            font-family: 'ap' !important;
            background-color: white;
            position: absolute;
            border-radius: 30px;
            width:30px;
            height:30px;
            right: 10px;
            top: calc(50% - 15px);
            text-align: center;
            line-height: 30px!important;
        }
    }

    &.express summary{
        background-color: #4fc14f;
    }

    &.express[open] summary{
        background-color: #77dd77;
    }

    &[open] summary{
        background-color: $hover_color;
        margin-bottom: 20px;
    }

    &[open] summary:before{
        content: "\e902";
        transform: rotate(90deg);
    }

}
